/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.main {
  width: 100%;
}

.container {
  color: #5a5a5a;
}

.body-container {
  height: 100%;
  width: 100%;
  display: inline-grid !important;
  grid-template-rows: [welcome] 100% [rest] auto;
}

/* --- ABOUT US --- */
.members-list {
  max-width: 100%;
}

.tabs-content {
  position: relative;
}

.tab-pane {
  position: absolute;
  padding: 0.5rem 0;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 20px, 0);
  transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1);
}
.tab-pane.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  -ms-transform: none;
  transform: none;
}

.tabs-nav ul {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
@media (min-width: 820px) {
  .tabs-nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.tabs-nav ul li {
  position: relative;
  display: block;
  margin: 0 0.5rem;
  z-index: 1;
}
@media (min-width: 820px) {
  .tabs-nav ul li {
    -ms-flex: none;
    flex: none;
  }
}
.tabs-nav ul li a {
  display: block;
  position: relative;
  padding: 0.5em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #181818;
}
.tabs-nav ul li a::after {
  background: #741bc1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}
.tabs-nav ul li.active a,
.tabs-nav ul li.active a::after,
.tabs-nav ul li a:hover,
.tabs-nav ul li a:hover::after {
  color: #ffffff !important;
  background: #741bc1 !important;
  -ms-transform: none;
  transform: none;
}

.main-content-wrapper {
  padding-top: 2.5rem 0;
  overflow: hidden;
}
@media (min-width: 820px) {
  .main-content-wrapper {
    padding: 2.5rem 0;
  }
}

.main-content ul li {
  list-style: none;
  position: relative;
  padding-left: 15px;
  line-height: 1.7;
}

.main-content ul li::before {
  color: #741bc1;
  content: "\2022";
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
}

.main-content a {
  display: inline-block;
  position: relative;
}

.main-content a::after {
  background: rgba(24, 24, 24, 0.5);
}
.main-content a:hover::after {
  background: #741bc1;
}

.main-content ul li {
  list-style: none;
  position: relative;
  padding-left: 15px;
  line-height: 1.7;
}
.main-content ul li::before {
  color: #741bc1;
  content: "\2022";
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
}

#about-us {
  margin-bottom: 1.5rem;
}

/* team CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.prof-photo {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.team {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.team-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.members {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}
.member {
  width: 180px;
  height: 180px;
  border-radius: 50%;

  margin: 2%;
  position: relative;
}
.profile-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.name {
  position: relative;
  top: 5%;
  font-size: 1.5rem;
}
.role {
  position: relative;
  font-size: 1.2rem;
}
.member a {
  color: rgb(79, 79, 79);
  font-weight: 400;
  text-decoration: none;
}
.member a:hover {
  color: rgb(110, 110, 110);
  text-decoration: underline;
}

@media (max-width: 776px) {
  .team-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 600px) {
  .member {
    width: 160px;
    height: 160px;
  }
  .name {
    position: relative;
    top: 65%;
    color: white;
    font-size: 1em;
    font-weight: 300;
  }
  .role {
    position: relative;
    top: 65%;
    font-size: 0.8em;
    font-weight: 500;
  }
}
@media (max-width: 1400px) {
  .member {
    margin-bottom: 9%;
  }
}
@media (max-width: 1200px) {
  .member {
    margin-bottom: 12%;
  }
}
@media (max-width: 989px) {
  .member {
    margin-bottom: 17%;
  }
}

/* Featurettes
------------------------- */

.row {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.featurette-divider {
  margin: 0 0;
}

.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 992px) {
  .row .featurette-heading {
    margin-top: 0rem;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* BUTTONS */
.btn {
  border: none;
  margin: 0.5rem;
}

.btn-primary,
.btn-primary:visited {
  background-color: #741bc1;
}

.btn-primary:hover {
  background-color: #741bc1;
}

/* EVENTS PANEL
------------------------------------------ */
.panel-group {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 90%;
}

#what-we-do {
  border: solid;
  border-color: #741bc1;
}

.panel-title {
  color: black;
}

.panel-heading .panel-title {
  color: #741bc1 !important;
  font-size: 20px !important;
}

.panel-body {
  margin-bottom: 1rem;
}

.panel-title a:hover {
  color: #021574;
  text-decoration: underline;
}
.panel-title a {
  color: #741bc1;
  font-size: 20px;
  text-decoration: none;
}
.panel-body {
  margin-bottom: 1rem;
}
.panel-body p {
  text-align: left;
  margin-left: 5%;
}

/* TAB PANEL
------------------------------------------ */
@media (min-width: 820px) {
  #project-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.project-sidebar {
  height: 100%;
  padding: 0;
}

.project-block .bar-item {
  width: 100%;
  display: block;
  white-space: normal;
  outline: 0;
}

.bar-item {
  padding: 0px;
  display: block;
  outline: 0;
  border: none;
}

.bar-btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.bar-container:after,
.bar-container:before {
  content: "";
  display: table;
  clear: both;
}

.animate-right {
  position: relative;
  animation: animateRight 0.4s;
}
@keyframes animateRight {
  from {
    left: 100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.project-info {
  margin-top: 1rem;
  text-align: left;
}

.project-info div {
  display: none;
}

.tablink {
  display: block;
  position: relative;
  padding: 0.5em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #181818;
  background: white;
  border-style: none none solid none;
  border-width: medium;
  border-color: #741bc1;
}
.tablink.active::after {
  background: #741bc1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}
.tablink.active,
.tablink:hover,
.tablink:hover::after {
  color: #ffffff !important;
  background: #741bc1 !important;
  -ms-transform: none;
  transform: none;
}

/* FAQ
------------------------------------------ */
.faq {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.faq h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #322b8e;
}
