/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.container {
  color: #5a5a5a;
}

.body-container {
  height: 100%;
  display: grid !important;
  grid-template-rows: [welcome] 100% [rest] auto;
}

/* Mission */
#about-us {
  margin-bottom: 1.5rem;
}

/* team CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.team .col-lg-3 {
  text-align: center;
}
.team h2 {
  font-weight: 400;
  margin-top: 1rem;
}
.team .col-lg-3 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.row {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.featurette-divider {
  margin: 0 0;
}
/* Thin out the team headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* BUTTONS */
.btn {
  margin: 0.5rem;
}

.panel-group {
  margin-top: 1rem;
  border-style: solid;
  border-color: #ffcd37ff;
  border-radius: 10%;
  padding: 1rem;
}

.panel-title {
  color: black;
}

.panel-title a:hover {
  color: rgb(110, 110, 110);
  text-decoration: none;
}

.panel-title a {
  color: black;
}

.panel-body {
  margin-bottom: 1rem;
}
