/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.container {
  color: #5a5a5a;
}

.body-container {
  height: 100%;
  display: grid !important;
  grid-template-rows: [welcome] 100% [rest] auto;
}

/* team CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.team .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.team h2 {
  font-weight: 400;
}
.team .col-lg-3 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the team headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
