/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.main {
  width: 100%;
}

.container {
  color: #5a5a5a;
}

.body-container {
  height: 100%;
  width: 100%;
  display: inline-grid !important;
  grid-template-rows: [welcome] 100% [rest] auto;
}

/* Mission */
#about-us {
  margin-bottom: 1.5rem;
}

/* team CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.team .col-lg-3 {
  text-align: center;
}
.team h2 {
  font-weight: 400;
  margin-top: 1rem;
}
.team .col-lg-3 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

@media (max-width: 1000px) and (min-width: 580px) {
  .team .col-lg-3 {
    width: 50%;
  }
}

.prof-photo {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profile {
  display: block;
  color: rgb(79, 79, 79);
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 0.5rem;
  text-decoration: none;
}

.profile:hover {
  color: rgb(110, 110, 110);
  text-decoration: underline;
}

/* Featurettes
------------------------- */

.row {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.featurette-divider {
  margin: 0 0;
}
/* Thin out the team headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* BUTTONS */
.btn {
  border: none;
  margin: 0.5rem;
}

.btn-primary,
.btn-primary:visited {
  background-color: rgb(255, 191, 0);
}

.btn-primary:hover {
  background-color: rgb(255, 207, 62);
}

/* ACCORDION PANEL */
.panel-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-color: #ffcd37ff;
  border-radius: 2rem;
  padding: 1rem;
  width: 90%;
}

.panel-title {
  color: black;
}

.panel-title a:hover {
  color: rgb(176, 176, 176);
  text-decoration: underline;
}

.panel-title a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.panel-body {
  margin-bottom: 1rem;
}

.team h2 {
  margin-top: 0;
}
