/* Header Parallax Element Style*/
.paral {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin-bottom: 10px;
}

@media only screen and (max-device-width: 1366px) {
  /* --- Disables parallax on mobile devices --- */
  .paral {
    background-attachment: scroll;
  }
}

/* Paragrapgh for Parallax Section */
.paral p {
  font-size: 32px;
  font-weight: 390;
  color: white;
  text-align: center;
  line-height: 60px;
}

/* Heading for Parallax Section */
.paral h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: calc(100% / 9);
  line-height: 100px;
}

@media only screen and (min-device-width: 340px) and (min-device-height: 580px) {
  .paral p {
    margin-bottom: 0;
  }
  .paral h1 {
    font-size: 48px;
  }
}

@media only screen and (max-device-width: 339px) {
  .paral p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .paral h1 {
    font-size: 24px;
  }
}

/* Content for Parallax Section */
#welcome-message {
  background-image: url("../assets/imgs/laNight.jpeg");
  height: 100%;
  grid-area: welcome;
  padding-bottom: 35%;
}

/* Remove Bottom Margin from Jumbotron */
.jumbotron {
  margin-bottom: 0;
}
