body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* --- COLORING --- */
.navbar-dark {
  color: #c60000ff;
}

.cardinal {
  background-color: #c60000ff;
}

.gold {
  background-color: #ffcd37ff;
}

/* --- LOGO --- */
.bd-placeholder-img {
  background: "../assets/imgs/gardens.jpeg";
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
