body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#welcome-message {
  background: url(../assets/imgs/gardens.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* --- PARALLAX --- */
.parallax {
  /* The image used */
  background-image: url("../assets/imgs/gardens.jpeg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  /* --- Disables parallax on modile --- */
  .parallax {
    background-attachment: scroll;
  }
}

/* --- LOGO --- */
.bd-placeholder-img {
  background: "../assets/imgs/gardens.jpeg";
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
