html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  grid-area: rest;
  margin-top: 5%;
}

/* --- GLOBAL --- */
.smaller-width {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

@media only screen and (max-device-width: 600px) {
  .smaller-width {
    width: 90%;
  }
}

/* --- COLORING --- */
.navbar-dark {
  color: #c60000ff;
}

.cardinal-back {
  background-color: #c60000ff;
}

.gold-back {
  background-color: #ffcd37ff;
}

.cardinal-text {
  color: #c60000ff;
}

.gold-text {
  color: #ffcd37ff !important;
}

/* FOOTER */
.foot {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtle-link {
  text-decoration: none;
}

/* .profile-picture {
  position:relative;
  overflow:hidden;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profile-picture img {
  position:absolute;
  height: auto;
  width: auto;    
  max-width:100%;
}

.centered img {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}
<div class="profile-picture">
  <img src="" alt="Profile">
</div>
<div class="profile-picture centered">
  <img src="" alt="Profile">
  </div> */
